# List Methods

### Introduction

So far we have seen how to both create lists with our square brackets.

In [1]:
cities = ['nyc', 'philadelphia', 'chicago', 'los angeles', 'seattle']

And how to access data from a list with the bracket accessors.

In [2]:
cities[0]

'nyc'

In [3]:
cities[1]

'philadelphia'

In this lesson, we'll first cover the methods for altering a list, and discuss how to further explore the data in a list by finding unique elements of a list, and sorting a list.

### Altering our Lists

Let's keep going with our list of cities.

In [4]:
cities = ['nyc', 'philadelphia', 'chicago', 'los angeles', 'seattle']

Now as we may know, we can add to the list of cities with the append method.

In [5]:
cities.append('denver')

In [6]:
cities

['nyc', 'philadelphia', 'chicago', 'los angeles', 'seattle', 'denver']

Notice that with `append`, we are adding an element *to the end* of the list.  If we ever want to remove an element from a list we can do so with the `pop` method.

In [7]:
cities.pop()

'denver'

So if we call `pop` once the last element is removed from the list.

In [8]:
cities

['nyc', 'philadelphia', 'chicago', 'los angeles', 'seattle']

### Organizing a list

Now that we learned about how to alter a list, let's cover how to get unique elements from a list.

1. Getting unique elements

Imagine that we accidentally add a couple of cities to the list twice.

In [9]:
cities.append('nyc')

In [10]:
cities.append('chicago')

In [11]:
cities

['nyc', 'philadelphia', 'chicago', 'los angeles', 'seattle', 'nyc', 'chicago']

Oftentimes, we may want to get a *unique* list of items.  There is no method direct method on a list to accomplish this.  Instead, we'll need to use the `set`.

In [12]:
unique_cities = set(cities)

unique_cities

{'chicago', 'los angeles', 'nyc', 'philadelphia', 'seattle'}

In [13]:
type(unique_cities)

set

> A set is a collection of unique items.

So by using a set we can find the unique elements of a list.  But other than that, sets have very limited capabilities in Python.  For example, we cannot slice or select specific elements from a set.

In [14]:
unique_cities[0]

TypeError: ignored

Nor can we add or remove elements with a set.

In [15]:
unique_cities.append('miami')

AttributeError: ignored

So oftentimes, we'll use a set to get a unique collection of a values, and the coerce our set back into a list.

In [16]:
cities_unique = list(set(cities))

cities_unique

['nyc', 'philadelphia', 'seattle', 'chicago', 'los angeles']

2. Sorting our list

Now that we have a unique list of cities, another thing we may want to do to order the list further is sort our list.  We can do so with the `sorted` method.

In [17]:
sorted(cities_unique)

['chicago', 'los angeles', 'nyc', 'philadelphia', 'seattle']

So we can see that the sorted method can handle alphanumeric characters.  It also, of course, can handle numbers:

In [18]:
sorted([10, 50, 25, 1])

[1, 10, 25, 50]

### Summary

In this lesson, we covered a few more operations that we can use when working with lists in Python.

* `append`: Add an element to the end of a list
* `pop`: Remove an element from the end of a list
* `sorted`: Sorts our elements in a list

We also learned about the set datatype, which stores a unique collection of items.  We can use set to find the unique items from our list.

In [19]:
set(['nyc', 'nyc', 'miami'])

{'miami', 'nyc'}

And then because we cannot perform many operations on a set, we can then convert our set back into a list.

In [20]:
list(set(['nyc', 'nyc', 'miami']))

['nyc', 'miami']