# Objects Warmup

### Selecting From an API

Let's start with our movies imdb dataset.

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/eng-6-22/mod-1-a-data-structures/master/3-coercing-filtering-data/imdb_movies.csv"
movies_df = pd.read_csv(url)
movies = movies_df.to_dict('records')

1. Begin by looping through the movies and adding a list of `movie_titles`, where each element is a different movie title.

In [7]:
movies
titles = [movie['title'] for movie in movies]
titles[:3]
# titles[:3]
# ['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre']

['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre']

2. Now let's select a single movie

In [8]:
first_movie = movies[0]

In [9]:
first_movie

{'budget': 237000000,
 'genre': 'Action',
 'month': 12,
 'revenue': 2787965087,
 'runtime': 162.0,
 'title': 'Avatar',
 'year': 2009}

Now call `items` to coerce this dictionary into a list of key value tuples.

In [10]:
first_movie_items = first_movie.items()
first_movie_items
# dict_items([('title', 'Avatar'), ('genre', 'Action'),
# ('budget', 237000000), ('runtime', 162.0), ('year', 2009), 
# ('month', 12), ('revenue', 2787965087)])

dict_items([('title', 'Avatar'), ('genre', 'Action'), ('budget', 237000000), ('runtime', 162.0), ('year', 2009), ('month', 12), ('revenue', 2787965087)])

In [15]:
selected_attrs = ['title', 'budget', 'revenue']
temp_dict = {key:value for key, value in first_movie_items if key in selected_attrs}
temp_dict

{'budget': 237000000, 'revenue': 2787965087, 'title': 'Avatar'}

Use dictionary comprehension to select only those attributes listed in `selected_attrs`.

3. Then narrow down the list of attributes to just the `selected_attrs` for all movies.

In [21]:
movies_with_selected_attributes = [{key:value for key, value in movie.items() if key in selected_attrs} for movie in movies]
movies_with_selected_attributes[:3]

[{'budget': 237000000, 'revenue': 2787965087, 'title': 'Avatar'},
 {'budget': 300000000,
  'revenue': 961000000,
  'title': "Pirates of the Caribbean: At World's End"},
 {'budget': 245000000, 'revenue': 880674609, 'title': 'Spectre'}]

4. Next, create class called `Movie` that upon initialization takes the arguments of `title`, `budget` and revenue.

In [19]:
class Movie:

  def __init__(self, title, budget, revenue):
    self.title = title
    self.budget = budget
    self.revenue = revenue

5. Finally, use `kwargs` to create a list of movies.

In [22]:
list_of_movies = [Movie(**movie) for movie in movies_with_selected_attributes]

In [27]:
for movie in list_of_movies[:3]:
  print(movie.__dict__)

{'title': 'Avatar', 'budget': 237000000, 'revenue': 2787965087}
{'title': "Pirates of the Caribbean: At World's End", 'budget': 300000000, 'revenue': 961000000}
{'title': 'Spectre', 'budget': 245000000, 'revenue': 880674609}